.list-container {
  display: block;
  align-content: center;
  justify-content: center;
  padding: 20px;
}
p.list-container {
  text-align: center;
}

.salute {
  font-family: 'Baskervville', serif;
  font-size: 4.5rem;
  text-align: center;
}

.text {
  text-align: center;
}
