.list-container {
  display: block;
  margin-bottom: auto;
}
p.list-container {
  text-align: center;
}

.salute-container {
  height: auto;
  /* background: #EEEEEE; */
  padding: 3em;
  background-image: linear-gradient(
    185deg,
    #ffffff 0,
    #f0f0f1 50%,
    #d5d5ca 100%
  );
}

.salute {
  font-family: "Baskervville", serif;
  font-size: 4.5rem;
  text-align: center;
}

.text {
  text-align: center;
  font-size: 1em;
}

.catalogo h2 {
  color: #00838f;
  text-align: center;
  /* text-decoration: bold; */
  font-weight: bold;
  font-size: 3em;
  padding: 20px;
  
  font-family: "Baskervville", serif;
  /* background-image: linear-gradient(
    185deg,
    #ffffff 0,
    #f0f0f1 50%,
    #d5d5ca 100%
  ); */
}

