.card-container {
  background: #fff;
  color: #000;
  display: table-cell;
}

.portada {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 1em;
}

.portada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portada img:hover {
  box-shadow: 3px 2px 21px 7px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 3px 2px 21px 7px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 3px 2px 21px 7px rgba(0, 0, 0, 0.31);
}

.description-container {
  width: 100%;
  margin: 0 auto;
  line-height: 2px;
}

.autor {
  color: #bdbdbd !important;
  font-size: 12px;
}

.bookName {
  text-align: center !important;
  font-weight: bold;
}

.bookName:hover {
  color: #3cb994;
}

.price {
  font-size: 14px;
}

.cart-button {
  text-align: center !important;
}

.cart-button button {
  height: 40px;
  background: #00838f;
  color: #fff;
}

.counter {
  padding: 5px;
  color: #fff !important;
  font-weight: bold;
  font-size: 14px;
}