p {
  text-align: center;
  color: #000 !important;
}

.count-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

div.count-container h3 {
  font-weight: bold;
  color: #000 !important;
}

.button-container {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-left: 2.5em;
}

button.cart-button {
  align-items: center;
  height: 70px !important;
  width: 150px !important;
  text-align: center;
}
