.list-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
}

.item-list {
  display: inline;
  border: 1px solid #ccc;
}


/* Mostrar tres columnas en el catalogo */
@media screen and (max-width: 900px) {
  .list-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}

/* Mostrar dos columnas en el catalogo */
@media screen and (max-width: 850px) {
  .list-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

/* Mostrar una columna en el catalogo */
@media screen and (max-width: 580px) {
  .list-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
